<div id="<%= dom_id product_image %>">
  <p>
    <strong>Image:</strong>
    <%# <img src= "<%= product_image.image %>
    <%= image_tag product_image.image.url %>
  </p>

  <%# <p> %>
    <%# <strong>Product:</strong> %>
    <%#= product_image.Product_id %>
  <%# </p> %>

</div>
