<h1>Editing whishlist</h1>

<%= render "form", whishlist: @whishlist %>

<br>

<div>
  <%= link_to "Show this whishlist", @whishlist %> |
  <%= link_to "Back to whishlists", whishlists_path %>
</div>
